---
import Layout from "../layouts/Layout.astro";
import Icon from "astro-icon";

interface Social {
    name: string;
    icon: string;
    username: string;
    link: string;
    note: string;
}

const socials: Social[] = [
    {
        name: "Discord",
        icon: "bi:discord",
        username: "mekb.",
        link: "https://discord.com/users/686869093604917249",
        note: "note the dot"
    },
    {
        name: "GitHub",
        icon: "bi:github",
        username: "mekb-turtle",
        link: "https://github.com/mekb-turtle",
        note: null
    }
];
---

<Layout title="Contact" back_button="true">
    <h1>
        <span>Contact</span>
    </h1>
    <ul class="no-bullet">
        {socials.map(social =>
                <li>
                    <a href={social.link} class="popout social no-a">
                        <Icon name={social.icon} class="margin-r symbol" width="24" height="24"></Icon>
                        {social.name}: <span class="a">{social.username}</span>
                        {social.note ? <span>&#x20;</span><sup class="subtext0">({social.note})</sup> : ""}
                    </a>
                </li>
        )}
    </ul>
</Layout>

<style>
    @import "../styles/themes.less";

    svg {
        color: var(--ctp-text);
    }

    .social {
        padding: 0.6em 1em 1em 1em;
    }

    li {
        display: inline-block;
    }

    .symbol {
        position: relative;
        top: 5px;
        left: 0;
    }
</style>