---
import { Image } from 'astro:assets';
import Layout from "../layouts/Layout.astro";
import Icon from "astro-icon";
import image from "../pfp.png";
import Emoji from 'astro-emoji';

const text = [
    "Hi, I'm sophur",
    "I'm a software developer, I mainly write in C and TypeScript, but sometimes Node.js, C#, Bash, and Java."
];

const header = {
	name: "sophur",
	emoji: "\u{1F353}",
	emojiName: "strawberry"
}

const fields = [
    {
        name: "Pronouns",
        value: "she/they"
    },
    {
        name: "Pronunciation",
        value: "soph-urr"
    },
    {
        name: "Location",
		emoji: "\u{1f1e6}\u{1f1fa}",
		emojiName: "Australian flag",
        value: "Australia"
    }
];

const socials = [
    {
        name: "Discord",
        icon: "bi:discord",
        username: ".sophur",
        link: "https://discord.com/users/686869093604917249",
        note: "with a dot"
    },
    {
        name: "GitHub",
        icon: "bi:github",
        username: "mekb-turtle",
        link: "https://github.com/mekb-turtle",
        note: null
    }
];

const links = [
    {
        name: "Tools",
        link: "/tools",
        icon: "bi:wrench"
    }
];
---

<Layout title="mekb" description={text.join("\n")}>
    <div class="lcenter bottom-2-margin">
        <Image src={image} alt="mekb" class="bigimg pfp" width="256"/>
        <div class="lvertical">
			<h1 class="small-v-margin hv-flex hv-margin">
				<div>{header.name}</div>
				<div><Emoji symbol={header.emoji} label={header.emojiName} /></div>
			</h1>
            <h4 class="small-v-margin hv-flex">
                {
                    fields
					.map((field) => <span title={field.name}>{field.emoji ? <Emoji symbol={field.emoji} label={field.emojiName} /> : ""}{field.value}</span>)
                    .reduce((acc, item, i) => {
                        if (i > 0) acc.push(<div class="bullet small-hide"></div>);
                        acc.push(item);
                        return acc;
                    }, [])
                }
            </h4>
        </div>
    </div>
    {text.map((line) => <p>{line}</p>)}
    <hr class="top-2-margin"/>
    <ul class="no-bullet inline-list">
        {socials.map(social =>
                <li>
                    <a href={social.link} class="popout popout-padding no-a">
                        <Icon name={social.icon} class="symbol" width="24" height="24"></Icon>
                        <span class="margin-l vsmall-hide">
                            <span class="small-hide">{social.name}: </span><span class="a">{social.username}</span>
                            <span class="small-hide">{social.note ? <span>&#x20;</span><sup class="subtext0">({social.note})</sup> : ""}</span>
                        </span>
                    </a>
                </li>
        )}
    </ul>
    <hr/>
    <ul class="no-bullet inline-list">
        {links.map(link =>
                <li>
                    <a href={link.link} class="popout popout-padding no-a">
                        <Icon name={link.icon} class="symbol" width="24" height="24"></Icon>
                        <span class="a margin-l vsmall-hide">{link.name}</span>
                    </a>
                </li>
        )}
    </ul>
</Layout>
